body{
    background-color: rgb(243, 222, 222)
}

.title{
    font-size: 2em;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    font-size: 2em;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor:pointer;
}

